body {
    background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient( 135deg, rgb(212, 206, 206) 0%, rgb(92, 125, 234) 69%, rgb(203, 200, 200) 89%) !important;
}

/*home page styles*/

.masthead {
    display: flex;
    align-items: center;
    background-image: linear-gradient( 135deg, rgb(112, 136, 229) 0%, rgb(234, 230, 231) 69%, rgb(141, 213, 215) 89%) !important;
    height: 100vh;
}

.masthead .ui.menu .ui.button, .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
